.contact-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 2rem;
  .lead {
    margin-bottom: 0 !important;
  }
}
.d-email {
  grid-area: email;
  margin: 5%;
}
.d-phonenumber {
  grid-area: phonenumber;
  margin: 5%;
}

.d-buttons-form {
  display: flex;
  flex-direction: row;
  grid-area: buttons;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-inline: 5%;
  input {
    width: 100px;
    margin-inline: 30px;
    border-radius: 180px;
    border: 0px;
    height: 30px;
  }
  input:hover {
    transform: scale(1.2);
  }
}