
$screenWidth:(
  desktop: 1200px,
  tablet: 800px,
  mobile:600px
);

@media (max-width: map-get($screenWidth,desktop)) {
    .services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin-left: 10%;
    }
    .training-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .training-body-dark {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  @media (max-width: map-get($screenWidth,tablet)) {
    header {
      background-image: none;
      height: auto;
    }
    .menu {
      display: flex;
      flex-direction: column;
      justify-items: center;
    }
    nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        list-style: none;
        float: right;
        li {
          margin-bottom: 10%;
        }
      }
      img {
        height: 400px;
      }
    }
    .logo-ms {
      height: 80px;
    }
    .content-index {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .frase-index {
      margin-inline: 15%;
      margin-top: 0;
      text-align: center;
    }
    .img-index {
      width: 75px;
    }
    .services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin-left: 10%;
    }
    .training-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .training-body-dark {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  @media (max-width: map-get($screenWidth,mobile)) {
    .social-media {
      background-color: #c4c4c4;
      border-radius: 45px 0px 0px 0px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        height: 30px;
        gap: 30px;
        margin: auto;
      }
    }
    ul {
      li {
        display: inline-block;
        margin-right: 0px;
      }
    }
    header {
      background-image: none;
      height: auto;
    }
    nav {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        list-style: none;
        float: right;
        li {
          margin-bottom: 10%;
        }
      }
      img {
        height: 400px;
      }
    }
    .logo-ms {
      height: 80px;
    }
    .content-index {
      margin-top: auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .frase-index {
      margin-inline: 15%;
      margin-top: 0;
      text-align: center;
    }
    .img-index {
      width: 75px;
    }
    .services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin-left: 10%;
    }
    .trainings {
      width: 100%;
    }
    .training-body {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .training-body-dark {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    .content-pages {
      width: 100%;
    }
    .d-comments {
      textarea {
        width: 90%;
        height: 100px;
        border: 0px;
      }
    }
}