

* {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
}
.disclaimer {
  display: none;
}
body {
  font-family: "Red Hat Display", sans-serif;
  bottom: 0;
  align-items: center;
}
.wrapper {
  display: grid;
  gap: 30px;
  min-height: 100vh;
  grid-template-areas: "header" "content" "footer";
  bottom: 0;
}
a {
  text-decoration: none;
  img {
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
h1 {
  font-size: 30px;
  font-style: bold;
}
.black-title {
  margin-bottom: 1em;
  margin-left: 27px;
  text-align: center;
}
.orange-title {
  margin-bottom: 1em;
  color: #ff8a00;
  text-align: center;
}
nav {
  padding: 1em;
  img {
    width: 100px;
    height: 65px;
    border-radius: 40px;
  }
}
ul {
  li {
    display: inline-block;
    margin-right: 30px;
    a {
      &:hover {
        color: #ff8a00 !important;
        border-radius: 45px;
      }
    }
  }
}
.active {
  color: #ff8a00;
}
.img-index {
  width: 150px;
}
header {
  grid-area: header;
  top: 0px;
  width: 100%;
  height: 300px;
  background-image: url("../assets/img/banner1.jpg");
  background-size: cover;
  border-radius: 0 0 45px 0;
}
.content {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .black-title {
    grid-area: page-title;
  }
}
.content-index {
  grid-area: page-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.frase-index {
  margin-inline: 10%;
  text-align: center;
}
.logo {
  float: left;
}
footer {
  grid-area: footer;
  bottom: 0 !important;
  margin-top: auto;
  ul {
    padding: 1em;
  }
}
.footer-img {
  width: 40px;
  height: 40px;
}
.content-pages {
  background-color: #ffddba;
  width: 80%;
  border-radius: 25px 25px 25px 25px;
  article {
    p {
      padding: 50px;
      font-size: 25px;
      text-align: center;
    }
  }
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


@import "_contacto";
@import "_entrenamientos";
@import "_servicios";
@import "_media_queries";